@import '@/styles/variable.scss';
@import '@/styles/mixin.scss';

.singer-list-page {
  position: relative;
  padding-left: 70px;

  .van-sidebar {
    position: fixed;
    left: 0;
    height: calc(100vh - 50px);
    width: 70px;
    overflow: auto;
    @include smoothScroll;

    .van-sidebar-item {
      padding: 15px 10px;
      text-align: center;
      background: #fff;
      transition: all .4s;
    }

    .van-sidebar-item--select {
      border-color: $themeBlue;
    }
  }

  .content-container {
    position: relative;

    .filter-menu {
      position: fixed;
      top: 0;
      width: calc(100vw - 70px);
      z-index: 10;
      overflow: hidden;
    }

    .content {
      padding-top: 50px;
    }
  }

  
}