body {
  margin: 0;
  width: 100vw;
  overflow-x: auto;
  color: #323233;
  font-size: 14px;
  font-family: PingFang SC, 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(247, 248, 250);
  -webkit-font-smoothing: antialiased;
}

body, section, aside, div, ul, ol, li, header, footer, main {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.box-shadow-border {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

.box-shadow-block {
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.21);
}

// 唱片旋转
.song-pic {
  animation-fill-mode: both;
  animation: rotate 20s linear infinite;

  &.play{
    animation-play-state: running;
  }
  &.pause{
    animation-play-state: paused;
  }
}

// avatar rotate
@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}