body {
  margin: 0;
  width: 100vw;
  overflow-x: auto;
  color: #323233;
  font-size: 16px;
  font-family: PingFang SC, 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(247, 248, 250);
  -webkit-font-smoothing: antialiased;
}

body, section, aside, div, ul, ol, li, header, footer, main {
  box-sizing: border-box;
}