@import '@/styles/mixin.scss';

.home-swiper {
  h3 {
    margin: 10px;
  }

  .home-swipe-item {
    margin: 8px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
  
    .banner-image {
      position: relative;
      padding-bottom: 56%;
      width: 100%;
      height: 0;
      box-sizing: content-box;
      background-size: cover;
      overflow: hidden;
  
      .pic-name {
        display: flex;
        align-items: center;
        position: absolute;
        left: 3%;
        bottom: 3%;
        color: #fff;
  
        span {
          display: inline-block;
          margin: 0 15px;
          font-weight: bold;
        }
      }
    }
  
    .subtitle {
      margin: 4px 10px;
      min-height: 40px;
      font-weight: bold;
    }
  }
}

